# **üè∑Ô∏è 1Ô∏è‚É£ Welcome & What is R?**

# üëã Welcome to R Programming!

In this course, you will learn R from scratch, step-by-step, using Google Colab notebooks.

## What is R?

- R is a popular, open-source programming language and environment.
- It is widely used for statistical computing, data analysis, and graphical representation.
- R has a strong community and thousands of packages for various tasks.

## Why learn R?

‚úÖ Powerful for statistics and data science  

‚úÖ Excellent for data visualization (e.g., ggplot2)

‚úÖ Strong community support

# **üè∑Ô∏è 2Ô∏è‚É£ How to Use R in Google Colab**

# üìí Google Colab with R

- Colab allows you to write and run R code in your browser.
- No local installation needed for R or RStudio!
- You can combine **text (Markdown)** and **code** in one notebook.

**Important Setup for R in Colab:**
Before running any R code, you need to tell Colab to use the R kernel. To do this, go to `Runtime` -> `Change runtime type` and select `R`.

## Example of a text cell:
This is a text cell!

In [ ]:
# Example of an R code cell:
# This is a comment

In [ ]:
# This is an R code cell
print("Hello, R World!")

[1] "Hello, R World!"

# **üè∑Ô∏è 3Ô∏è‚É£ R Syntax Basics**

# üìä R Syntax Rules

- R uses `=` or `<-` for assignment. Both work, but most R users prefer `<-` because it‚Äôs the traditional R style and makes your code easier for others to read.
- Comments start with `#`.

## Example:

In [ ]:
# This is a comment in R
name <- "Alice"  # This is a variable assignment

In [ ]:
print(name)

[1] "Alice"

In [ ]:
paste("Hello", name)

[1] "Hello Alice"

In [ ]:
print(paste("Hello", name))

[1] "Hello Alice"

# **üè∑Ô∏è 4Ô∏è‚É£ Your First R Program**

# ‚úÖ Let's write our first program!

Type this in a code cell and run it:

In [ ]:
print("Hello, World!")

[1] "Hello, World!"

# **üè∑Ô∏è 5Ô∏è‚É£ Variables and Data Types (Quick Intro)**

# üìå Variables store information.

- In R, most numbers are stored as "numeric".
- This is a general term that usually means "double precision" (numbers with decimals).
- R doesn‚Äôt separate whole numbers (integers) and decimals (floats) by default like some other languages do.
- So even if you write age <- 25, R still stores it as a "numeric" (a decimal number internally).

In [ ]:
# You can create an actual integer by adding an L, like this:
age_integer <- 25L
print(class(age_integer))  # This will show "integer"

[1] "integer"

In [ ]:
# Numeric: used for numbers (whole or with decimals)
age <- 25
height <- 5.8

# Character (text): used for words or text values
name <- "Bob"

# Logical: used for TRUE or FALSE values
is_student <- TRUE

# Print the values
print(name)
print(class(name))       # Shows the "type" of data stored in 'name' ‚Äî here it's "character"

print(age)
print(class(age))        # "numeric" means it's a number you can do math with

print(height)
print(class(height))     # Also "numeric", because it‚Äôs a number with a decimal point

print(is_student)
print(class(is_student)) # "logical" means TRUE/FALSE data (yes/no type)

[1] "Bob"
[1] "character"
[1] 25
[1] "numeric"
[1] 5.8
[1] "numeric"
[1] TRUE
[1] "logical"

# **üè∑Ô∏è 6Ô∏è‚É£ Basic Arithmetic**

# ‚ûó R can do calculations.

Try:

In [ ]:
a <- 5
b <- 2

print(paste("Add:", a + b))
print(paste("Subtract:", a - b))
print(paste("Multiply:", a * b))
print(paste("Divide:", a / b))
print(paste("Power:", a ** b))

[1] "Add: 7"
[1] "Subtract: 3"
[1] "Multiply: 10"
[1] "Divide: 2.5"
[1] "Power: 25"

# **üè∑Ô∏è 7Ô∏è‚É£ Comments**

# üí° Comments help explain code.

- Use `#` for single-line comments.

In [ ]:
# This is a comment
x <- 10  # Variable storing number 10
print(x)  # Print value of x

[1] 10

# **üè∑Ô∏è 8Ô∏è‚É£ Practice Tasks**

# üéØ Practice

‚úÖ 1. Print your name and age.  
‚úÖ 2. Calculate 10 + 5 * 2  
‚úÖ 3. Write a comment about your calculation.

üëâ Try in a new code cell below:

In [6]:
name <- "Angela"
age <- 21

In [14]:
print (name)
print (age)

[1] "Angela"
[1] 21

In [16]:
10+5*2 # This is 10 plus 5 multiplied by 2

[1] 20

# **üè∑Ô∏è 9Ô∏è‚É£ Quick Quiz**

# ‚úÖ Quick Quiz

1Ô∏è‚É£ What symbol is used for comments in R?  
2Ô∏è‚É£ How do you print text in R?  
3Ô∏è‚É£ What is the output of `3 ** 2` in R?

In [ ]:
# Is used to comment in R, that is same as Python.

To print text in R we have to use the Text option instead of Code.

In [18]:
3**2 # This means, 3 to the power of 2 or 3 X 3 = 9

[1] 9

# **üè∑Ô∏è 1Ô∏è‚É£0Ô∏è‚É£ Next Steps**

# üöÄ Great Job!

You have learned:
- What R is
- How to run R in Colab
- How to write your first program
- How to use variables and print output

üëâ Next, we will dive deeper into **Data Types, Variables, and Operators** in R!